<!DOCTYPE html>
<html lang="en">



<body>


	<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Articles </h1>
              <ol class="breadcrumb">
                    <li><a href="articles.html">Home</a>
                    </li>
                    <!-- <li class="active">About</li> -->
                </ol>
            </div>
        </div>
        <!-- /.row -->

         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li class="">
                        <a class="page-scroll" href="#welcome">Welcome</a>
                    </li> -->
                    <!-- <li class="">
                        <a class="page-scroll" href="#mission">Mission Statement</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="#history">Fraternal History</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="#recognition">Honors of Recognition</a>
                    </li> -->
                </ul>
            </div>

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <!-- <img class="img-responsive" src="http://placehold.it/750x450" alt=""> -->
                <img class="img-responsive" src="/images/vc.png" align = middle alt="">
                <br>
                <p>By Natasha Lim</p>
            </div>
            <div id="welcome" class="col-md-6">
                <h2>Where To Find Funding</h2>
                <p>You have an amazing idea, the perfect team, and an unmet demand, but no money to kickstart the process. What now? For many early stage start-ups, this is the issue they face on a daily basis. Fortunately, venture capital firms exist to solve this problem. Of course like all good things in life, there is a catch - in exchange for capital, start-ups must surrender equity.</p>
                <p>And so the exciting process begins. After listening to pitches, reading through business plans, and conducting due diligence, venture capitalists find and invest in the start-ups they like. As there is low risk associated with these young companies, VCs will invest in many at a time. This portfolio of companies may all lie within a specific industry or vary across the board depending on the fund focus. Given that the companies are in early stages of development, they have an undefined future capital requirement and often have yet to realize revenues. So instead of using traditional metrics, VCs look for things like team, innovation, traction, and that magic touch as ways to evaluate potential. Hopefully, over time these companies grow and undergo subsequent rounds of funding until they are acquired or IPO. The best firms are ones that not only provide capital, but also ones that offer a vast network and deep industry knowledge.</p>
                <p>What about companies that aren't at the cusp of creation? For them, growth equity is the answer. Growth equity falls further down the private equity spectrum. More mature companies looking to raise capital or restructure operations will look to work with growth equity firms. Unlike VC, growth equity invests in fewer companies per fund. Moreover, these companies already exhibit positive cash flows and growing revenue, both key indicators for a sound investment. However, much like VCs, growth equity firms realize return on investment through acquisitions and public listings. Often, firms that undertake venture capital activity will also engage in growth equity.</p>
                <p>Although there are a few differences between venture capital and growth equity, ultimately the two serve to finance companies at different stages of development. So next time you find yourself with a good idea and looking for capital, VCs and growth equity are where you should go.</p>
                <p>By Natasha Lim</p>
                <p>10/2/2016</p>
                <img class="img-responsive" src="/images/venture-team/lim_natasha.png" align = middle alt="" style= "width: 200px;">
                <br>
            </div>
        </div>
        <!-- /.row -->

        <!-- Mission Statement Content -->
        <!-- <div class="row">

            <div id="mission" class="col-md-6">
                <h2>Mission Statement</h2>
                <p><strong>Delta Sigma Pi is a professional fraternity organized to foster the study of business in universities; to encourage scholarship, social activity and the association of students for their mutual advancement by research and practice; to promote closer affiliation between the commercial world and students of commerce, and to further a higher standard of commercial ethics and culture and the civic and commercial welfare of the community.</strong></p>
                <p>Founded in 1907 at our very own New York University School of Commerce, Accounts, and Finance (formerly Leonard N. Stern School of Business), Delta Sigma Pi today is one of the largest professional fraternities in the world. With over 200 collegiate chapters, 50 alumni chapters and more than 200,000 members worldwide to support the goals and ideals of the Fraternity, Delta Sigma Pi offers you an unparalleled network of professionals and career opportunities. Prominent Deltasigs include the CEOs of The Dow Chemical Company and Continental Airlines and the Chairman of the Board at several companies including General Mills, The Ford Motor Company, Kellogg Foundation, and General Motors to name a few.

                </p>
                <p>At Delta Sigma Pi, we take the professional development of our brothers very seriously. For over 50 years, the brothers of Delta Sigma Pi and corporate partners have supported the education of fellow brothers through the Delta Sigma Pi Leadership Foundation. The Foundation hosts workshops and conferences for developing outstanding business leaders and provides funding for academic scholarships to students at colleges where there is an active Delta Sigma Pi Chapter.</p>
                <p>To find out more about our specific goals at the Alpha Chapter, or to join us, talk to one of our leaders or come to one of our events. Most of our events are open to all and so you're welcome to join us along with your friends. Alternatively, you may email us at <a href="mailto:dspalpha@stern.nyu.edu">dspalpha@stern.nyu.edu</a> to find out more. <br><br><br><br><br><br><br><br>

                </p>

            </div>
            <div id="#history" class="col-md-6">
                <img class="img-responsive" src="./img/about-pics/about-missionstatement.png" alt="">
            </div>
        </div> -->
        <!-- /.row -->

        <!-- Fraternal History Content -->
        <!-- <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="./img/about-pics/about-fraternalhistory.png" alt="">
            </div>
            <div id="history" class="col-md-6">
                <h2>Fraternal History</h2>
                <p>It was in the autumn of 1906 that the history of Delta Sigma Pi began. Life was much different then as there were only 46 states and the major method of transportation was by train. The airplane was flown for the first time only a few years earlier. The automobile was still a "toy" for the well-to-do; there were no talking movies; radio was very new and most homes were without a telephone. It was a time after what is termed the Industrial Revolution and before the times of world wars, the Great Depression and the Age of Consumerism.</p>
                <p>In the academic world at that time, the formation of schools of business was relatively new. There were only a handful of such schools in the United States in 1906 and one such school, known as the School of Commerce, Accounts, and Finance existed at New York University. There were approximately 300 students in attendance at this school at that time, including 70 freshmen representing the Class of 1909. Four members of that Class of 1909, previously unknown to each other, soon were to start an association that would become what is known today as the International Fraternity of Delta Sigma Pi.</p>
                <p>These four young men met in their classes and were drawn closer together as they shared the same subway route on their way home every evening. Occasionally, other classmates came along, but the four were regularly together and it was this time together that gave them the opportunity to get to know one another, to become friends, and to discuss topics of mutual interest.</p>
          			<p>One such topic was school affairs, and the domination of one organization on campus. In the opinion of these four men, the overwhelming majority of students at New York University were ignored by this organization and, as a result, restricted from membership. These four, Alexander F. Makay, Alfred Moysello, H. Albert Tienken, and Harold V. Jacobs, decided they should do something for the benefit of the student body at large. They decided to form a club that would be open to all business students.</p>
                <p>During that first year in school these four young men were occasionally accompanied by a fifth student who, in the spring of 1907, dropped from the group to accept the pledge of the only fraternity in the School of Commerce, Accounts, and Finance. It was at this time, and perhaps because of this incident, that they felt there was a need for two fraternities in the school, and they approached their fellow students this time with the idea of joining a fraternity. The response to their idea was very positive and, somewhat to their dismay, they found students who wanted to be initiated immediately into the proposed fraternity which was not yet organized.</p>
                <p>Makay and Jacobs had been members of high school fraternities so they were assigned the duty of drafting a Constitution, Bylaws, and a Ritual. The Constitution was finally drafted and adopted in the fall of 1907, yet the selection of a name for the Fraternity was not completed. Nevertheless, these four men proceeded with the next major order of business which was the election of officers. Makay was elected the first president, and Jacobs and Moysello were elected treasurer and secretary, respectively. They first approached their Class of 1909 classmates and, in short order, initiated several new members. They immediately began to recruit the Class of 1910 from which they initiated several more members.</p>
                <p>The year of 1908 was notable for the establishment of many aspects of the Fraternity which are still in existence today. While the Constitution and Ritual had already been approved, there was still no badge or "pin" as it was called at that time. In addition, the Fraternity still lacked a name. The name of the organization had a high priority and the four founders agreed upon the three words that best expressed the meaning of their Fraternity and had a friend of Moysello translate them into Greek with the resulting designation: Delta Sigma Pi. On April 2, 1908, the name Delta Sigma Pi was adopted by the membership and the bylaws were also approved at this meeting. The design of the badge was approved shortly thereafter.</p>
                <p>In 1909 the Founders graduated, but the Fraternity was being guided and nurtured by other dedicated officers and members. As the membership continued to expand, so did the activities. A Fraternity publication made its first appearance in 1911, but was mainly an internal newsletter. The name of that publication was simply DELTASIG. By 1912, the name had been changed to THE DELTASIG and was being published in a much more professional manner. Later the name of the official publication of the Fraternity was established as The DELTASIG.</p>
                <p>Also established in 1912 was the Delta Sigma Pi Scholarship Key. This award was developed to recognize the outstanding male senior in the Business school and, eventually, was allowed to be presented in every business school where a chapter of Delta Sigma Pi was active. Many of the early keys presented nationwide were won by members of Delta Sigma Pi; however, the Delta Sigma Pi Scholarship Key was at that time and continues today to be awarded to the most outstanding male or female senior in the School of Business where a chapter of the Fraternity is active.</p>
                <p>In these early years, the Founders and their fellow Brothers realized significant progress and set the foundation for an organization that has touched the lives of over 200,000 students of business.<br><br><br><br><br><br><br><br></p>
            </div>
        </div>
         /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

</body>

</html>
