<!DOCTYPE html>
<html lang="en">
<head>
  
</head>

<body>



    <!-- Header Carousel COMMENTED OUT-->
    <!-- <header id="myCarousel" class="carousel slide"> -->
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->

        <!-- Wrapper for slides -->
        <!-- <div class="carousel-inner">
            <div class="item active"><!--<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="fill" style="background-image:url('./img/index-carousel-pics/placeholder.png');"></div>
                <div class="carousel-caption">
                    <h2>Pardon our dust: new site is coming!</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('./img/coverPhoto.png');"></div><!-- img/index-carousel-pics/Alumni.jpg');"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('./img/index-carousel-pics/Splash 13.jpg');"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
        </div> -->

        <!-- Controls -->
        <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a> -->
    <!-- </header> -->
    <!-- End header -->

    <!-- Image Header -->
        <div class="row">
            <div class="col-lg-12">
                <!-- <img class="img-responsive" src="http://placehold.it/1200x300" alt=""> -->
                <img class="img-responsive" align="left" src="/images/coverPhoto.png" alt="">
                <br>
            </div>
        </div>
    <!-- /.row -->




    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Announcements - Live
                </h1>
            </div>
            <!-- <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4><em class="fa fa-fw fa-check"></em>Check out our 2015-2016 leadership</h4>
                    </div>
                    <div class="panel-body">
                        <p>We are excited to bring more professional mentorship opportunities with Fall Rush 2015.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Farewell to our loving seniors</h4>
                    </div>
                    <div class="panel-body">
                        <p>You will be missed! We wish you all the best in your professional endeavors and beyond.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Congratulations to the Rho Class</h4>
                    </div>
                    <div class="panel-body">
                        <p>A very warm welcome to our new Rho class initiates of the Spring 2015 semester. Congratulations!</p>
                    </div>
                </div>
            </div> -->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4><em class="fa fa-fw fa-check"></em>Check us out <a href="https://www.facebook.com/strategicventuresociety/?fref=ts">on Facebook</a></h4>
                    </div>
                    <div class="panel-body">
                        <p>We are rolling out more cool events and announce them online!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Club status!</h4>
                    </div>
                    <div class="panel-body">
                        <p>Thanks to our friends over at Stern for letting us get a trial status! </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>E-Board Openings</h4>
                    </div>
                    <div class="panel-body">
                        <p>We are looking to have more people to <a href="https://nyusvs.typeform.com/to/gn3KN0">join our EBoard</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->



        <!-- Features Section -->
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->

        <hr>



    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>




</body>

</html>
