body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbarPicHeader {
  padding: 0px;
  height: 90%;
}
.navbarPicHeader>img {
  height: 10%;
  padding: 15px;
  width: auto;
}
